## Sourcing Open Data

##### -------------------------

## Big DataSet from Kaggle

### DataSet Link → https://www.kaggle.com/datasets/bayusuarsa/crime-data-from-2020-to-present

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/MY DATA PROJECTS/Los Angeles Crimes Analysis'

In [3]:
# Import LA Crimes DataSet as a DataFrame (Big DataSet)

df_kaggle = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'Crime_Data_from_2020_to_Present.csv'))

In [4]:
# Will use info and shape to check columns and data types first

df_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986873 entries, 0 to 986872
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           986873 non-null  int64
 1   Date Rptd       986873 non-null  object
 2   DATE OCC        986873 non-null  object
 3   TIME OCC        986873 non-null  int64
 4   AREA            986873 non-null  int64
 5   AREA NAME       986873 non-null  object
 6   Rpt Dist No     986873 non-null  int64
 7   Part 1-2        986873 non-null  int64
 8   Crm Cd          986873 non-null  int64
 9   Crm Cd Desc     986873 non-null  object
 10  Mocodes         839400 non-null  object
 11  Vict Age        986873 non-null  int64
 12  Vict Sex        846266 non-null  object
 13  Vict Descent    846254 non-null  object
 14  Premis Cd       986857 non-null  float64
 15  Premis Desc     986291 non-null  object
 16  Weapon Used Cd  325035 non-null  float64
 17  Weapon Desc     325035 non-null  object
 18  Status          986872 non-null  object
 19  Status Desc     986873 non-null  object
 20  Crm Cd 1        986862 non-null  float64
 21  Crm Cd 2        68634 non-null   float64
 22  Crm Cd 3        2296 non-null    float64
 23  Crm Cd 4        60 non-null      float64
 24  LOCATION        986873 non-null  object
 25  Cross Street    151963 non-null  object
 26  LAT             986873 non-null  float64
 27  LON             986873 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 210.8+ MB

In [5]:
# Display the number of rows and columns in the df_big dataframe

df_kaggle.shape

(986873, 28)

In [6]:
# Display the first 5 rows of the df_big dataframe

df_kaggle.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [7]:
# Avoid columns collapsing to read the dataframe properly

pd.set_option('display.max_columns', None)

In [8]:
# Display the first 3 rows of the df_big dataframe

df_kaggle.head(3)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002

In [9]:
# Rename Columns For Better Clarity and Consistency

df_kaggle = df_kaggle.rename(columns={
    'DR_NO': 'report_id',
    'Date Rptd': 'report_date',
    'DATE OCC': 'crime_date',
    'TIME OCC': 'crime_time',
    'AREA': 'area_id',
    'AREA NAME': 'area_name',
    'Rpt Dist No': 'district_code',
    'Crm Cd': 'crime_code',
    'Crm Cd Desc': 'crime_description',
    'Vict Age': 'victim_age',
    'Vict Sex': 'victim_sex',
    'Vict Descent': 'victim_descent',
    'Premis Cd': 'crime_premises_code',
    'Premis Desc': 'crime_premises_description',
    'Weapon Used Cd': 'weapon_code',
    'Weapon Desc': 'weapon_description',
    'Status': 'case_status_code',
    'Status Desc': 'case_status_description',
    'Crm Cd 1': 'primary_crime_committed',
    'Crm Cd 2': 'secondary_crime_committed',
    'Crm Cd 3': 'third_crime_committed',
    'Crm Cd 4': 'fourth_crime_committed',
    'LOCATION': 'crime_location',
    'Cross Street': 'crime_location_corner',
    'Part 1-2': 'part_1_2',
    'LAT': 'latitude',
    'LON': 'longitude',
    'Mocodes': 'modus_code'})

In [10]:
# Display the first 3 rows of the df_big dataframe

df_kaggle.head(3)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002

In [11]:
# Double checking if there is any missing values

df_kaggle.isnull().sum()

report_id                          0
report_date                        0
crime_date                         0
crime_time                         0
area_id                            0
area_name                          0
district_code                      0
part_1_2                           0
crime_code                         0
crime_description                  0
modus_code                    147473
victim_age                         0
victim_sex                    140607
victim_descent                140619
crime_premises_code               16
crime_premises_description       582
weapon_code                   661838
weapon_description            661838
case_status_code                   1
case_status_description            0
primary_crime_committed           11
secondary_crime_committed     918239
third_crime_committed         984577
fourth_crime_committed        986813
crime_location                     0
crime_location_corner         834910
latitude                           0
longitude                          0
dtype: int64

In [13]:
# # Display the last 5 rows of the df_big dataframe

df_kaggle.tail(5)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
986868,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
986869,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
986870,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,29,M,B,210.0,RESTAURANT/FAST FOOD,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
986871,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
986872,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [14]:
# Convert report_date and crime_date columns to datetime format using the specified timestamp pattern

df_kaggle['report_date'] = pd.to_datetime(
    df_kaggle['report_date'],
    format='%m/%d/%Y %I:%M:%S %p')

df_kaggle['crime_date'] = pd.to_datetime(
    df_kaggle['crime_date'],
    format='%m/%d/%Y %I:%M:%S %p')

In [15]:
# Convert date columns to datetime

df_kaggle['report_date'] = pd.to_datetime(df_kaggle['report_date'])
df_kaggle['crime_date'] = pd.to_datetime(df_kaggle['crime_date'])

In [16]:
# Display the earliest and latest crime dates in the dataset

df_kaggle['crime_date'].min(), df_kaggle['crime_date'].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2024-11-24 00:00:00'))

In [17]:
# Display the earliest and latest report dates in the dataset

df_kaggle['report_date'].min(), df_kaggle['report_date'].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2024-11-24 00:00:00'))

In [18]:
# Sort the dataframe by crime_date and display the earliest records

df_kaggle.sort_values(by='crime_date').head()

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
247755,201904852,2020-01-20,2020-01-01,1100,19,Mission,1917,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,47,M,H,510.0,NURSING/CONVALESCENT/RETIREMENT HOME,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,14000 ASTORIA ST,NaN,34.3120,-118.4383
281364,201804099,2020-01-02,2020-01-01,2205,18,Southeast,1821,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 2000 0329 1813 1309 0356,40,M,B,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,800 W 101ST ST,NaN,33.9446,-118.2893
357787,230313075,2023-07-01,2020-01-01,1840,3,Southwest,343,2,354,THEFT OF IDENTITY,0100 1822 0922 0930,43,X,I,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,5400 VILLAGE GREE,NaN,34.0199,-118.3608
357727,221208313,2022-03-18,2020-01-01,1200,12,77th Street,1249,2,354,THEFT OF IDENTITY,1822 0100,23,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,500 W 65TH ST,NaN,33.9806,-118.2827
106989,201204073,2020-01-01,2020-01-01,1030,12,77th Street,1269,2,623,BATTERY POLICE (SIMPLE),1212 0356,0,X,X,101.0,STREET,500.0,UNKNOWN WEAPON/OTHER WEAPON,AA,Adult Arrest,623.0,NaN,NaN,NaN,AVALON,80TH ST,33.9665,-118.2651

In [19]:
# Export the dataframe

df_kaggle.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_kaggle.csv'))

## Big DataSet from LA City Data Hub.

### DataSet Link → https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8/about_data

In [20]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [21]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/MY DATA PROJECTS/Los Angeles Crimes Analysis'

In [22]:
# Import LA Crimes DataSet as a DataFrame (Big DataSet)

df_city = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'la_crimes_2020-2025.csv'))

In [23]:
# Will use info and shape to check columns and data types first

df_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [24]:
# Display the number of rows and columns in the df_big dataframe

df_city.shape

(1004991, 28)

In [25]:
# Display the first 5 rows of the df_big dataframe

df_city.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,2021 Apr 11 12:00:00 AM,2020 Nov 07 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,2020 Oct 21 12:00:00 AM,2020 Oct 18 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024 Dec 10 12:00:00 AM,2020 Oct 30 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,2020 Dec 24 12:00:00 AM,2020 Dec 24 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344,47,F,A,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,2020 Oct 03 12:00:00 AM,2020 Sep 29 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344 1606 2032,63,M,H,103.0,ALLEY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [26]:
# Avoid columns collapsing to read the dataframe properly

pd.set_option('display.max_columns', None)

In [27]:
# Display the first 3 rows of the df_big dataframe

df_city.head(3)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,2021 Apr 11 12:00:00 AM,2020 Nov 07 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,2020 Oct 21 12:00:00 AM,2020 Oct 18 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024 Dec 10 12:00:00 AM,2020 Oct 30 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509

In [28]:
# Rename Columns For Better Clarity and Consistency

df_city = df_city.rename(columns={
    'DR_NO': 'report_id',
    'Date Rptd': 'report_date',
    'DATE OCC': 'crime_date',
    'TIME OCC': 'crime_time',
    'AREA': 'area_id',
    'AREA NAME': 'area_name',
    'Rpt Dist No': 'district_code',
    'Crm Cd': 'crime_code',
    'Crm Cd Desc': 'crime_description',
    'Vict Age': 'victim_age',
    'Vict Sex': 'victim_sex',
    'Vict Descent': 'victim_descent',
    'Premis Cd': 'crime_premises_code',
    'Premis Desc': 'crime_premises_description',
    'Weapon Used Cd': 'weapon_code',
    'Weapon Desc': 'weapon_description',
    'Status': 'case_status_code',
    'Status Desc': 'case_status_description',
    'Crm Cd 1': 'primary_crime_committed',
    'Crm Cd 2': 'secondary_crime_committed',
    'Crm Cd 3': 'third_crime_committed',
    'Crm Cd 4': 'fourth_crime_committed',
    'LOCATION': 'crime_location',
    'Cross Street': 'crime_location_corner',
    'Part 1-2': 'part_1_2',
    'LAT': 'latitude',
    'LON': 'longitude',
    'Mocodes': 'modus_code'})

In [29]:
# Display the first 3 rows of the df_big dataframe

df_city.head(3)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
0,211507896,2021 Apr 11 12:00:00 AM,2020 Nov 07 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,2020 Oct 21 12:00:00 AM,2020 Oct 18 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024 Dec 10 12:00:00 AM,2020 Oct 30 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509

In [30]:
# Double checking if there is any missing values

df_city.isnull().sum()

report_id                           0
report_date                         0
crime_date                          0
crime_time                          0
area_id                             0
area_name                           0
district_code                       0
part_1_2                            0
crime_code                          0
crime_description                   0
modus_code                     151619
victim_age                          0
victim_sex                     144644
victim_descent                 144656
crime_premises_code                16
crime_premises_description        588
weapon_code                    677744
weapon_description             677744
case_status_code                    1
case_status_description             0
primary_crime_committed            11
secondary_crime_committed      935831
third_crime_committed         1002677
fourth_crime_committed        1004927
crime_location                      0
crime_location_corner          850755
latitude                            0
longitude                           0
dtype: int64

In [31]:
# Display the first 5 rows of the df_big dataframe

df_city.head(5)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
0,211507896,2021 Apr 11 12:00:00 AM,2020 Nov 07 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,0377,31,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,2020 Oct 21 12:00:00 AM,2020 Oct 18 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 0334 2004 1822 1414 0305 0319 0400,32,M,H,102.0,SIDEWALK,200.0,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024 Dec 10 12:00:00 AM,2020 Oct 30 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,0377,30,M,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,2020 Dec 24 12:00:00 AM,2020 Dec 24 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344,47,F,A,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,2020 Oct 03 12:00:00 AM,2020 Sep 29 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1300 0344 1606 2032,63,M,H,103.0,ALLEY,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [32]:
# Display the last 5 rows of the df_big dataframe

df_city.tail(5)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
1004986,252104112,2025 Feb 02 12:00:00 AM,2025 Feb 02 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,NaN,35,M,X,101.0,STREET,NaN,NaN,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126
1004987,250404100,2025 Feb 18 12:00:00 AM,2025 Feb 18 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),1258 0553 0602,11,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,237.0,NaN,NaN,NaN,3500 PERCY ST,NaN,34.0277,-118.1979
1004988,251304095,2025 Jan 31 12:00:00 AM,2025 Jan 30 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,NaN,16,F,H,101.0,STREET,NaN,NaN,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,NaN,33.9942,-118.2701
1004989,251704066,2025 Jan 17 12:00:00 AM,2025 Jan 17 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,0400 1259 1822 0356,17,M,H,721.0,HIGH SCHOOL,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233
1004990,251904210,2025 Mar 25 12:00:00 AM,2025 Mar 25 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,0529 2024 1815 0913,35,F,H,721.0,HIGH SCHOOL,NaN,NaN,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [35]:
# Convert report_date and crime_date columns to datetime format using the specified timestamp pattern

df_city['report_date'] = pd.to_datetime(
    df_city['report_date'],
    format='%m/%d/%Y %I:%M:%S %p')

df_city['crime_date'] = pd.to_datetime(
    df_city['crime_date'],
    format='%m/%d/%Y %I:%M:%S %p')

In [36]:
# Convert date columns to datetime

df_city['report_date'] = pd.to_datetime(df_city['report_date'])
df_city['crime_date'] = pd.to_datetime(df_city['crime_date'])

In [37]:
# Display the earliest and latest crime dates in the dataset

df_city['crime_date'].min(), df_city['crime_date'].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2025-05-29 00:00:00'))

In [38]:
# Display the earliest and latest report dates in the dataset

df_city['report_date'].min(), df_city['report_date'].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2025-06-04 00:00:00'))

In [39]:
# Sort the dataframe by crime_date and display the earliest records

df_city.sort_values(by='crime_date').head()

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude
80154,231820815,2023-12-14,2020-01-01,5,18,Southeast,1841,2,813,CHILD ANNOYING (17YRS & UNDER),0913 1258 0510,7,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,813.0,NaN,NaN,NaN,600 W 105TH ST,NaN,33.9407,-118.2848
66043,201710364,2020-06-24,2020-01-01,1200,17,Devonshire,1721,2,901,VIOLATION OF RESTRAINING ORDER,0913 1814 2038,40,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,AO,Adult Other,901.0,NaN,NaN,NaN,10100 VALLEY CIRCLE BL,NaN,34.2661,-118.6153
31431,202104070,2020-01-02,2020-01-01,1600,21,Topanga,2175,1,330,BURGLARY FROM VEHICLE,0344 0352 1307,15,F,O,101.0,STREET,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,22500 DEL VALLE ST,NaN,34.1670,-118.6169
189842,200505375,2020-02-03,2020-01-01,1400,5,Harbor,557,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1606 1300 0344,74,M,W,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,100 S GAFFEY ST,NaN,33.7433,-118.2923
28244,201804270,2020-01-01,2020-01-01,1830,18,Southeast,1822,1,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0377 2032,43,M,H,222.0,LAUNDROMAT,NaN,NaN,IC,Invest Cont,440.0,NaN,NaN,NaN,9500 S FIGUEROA ST,NaN,33.9501,-118.2827

In [40]:
# Export the dataframe

df_city.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_lacity.csv'))

In [41]:
# Standardise columns before joining datasets

df_kaggle.columns = df_kaggle.columns.str.lower()
df_city.columns = df_city.columns.str.lower()

In [42]:
# Converts Date

for df in [df_kaggle, df_city]:
    df['crime_date'] = pd.to_datetime(df['crime_date'])
    df['crime_year'] = df['crime_date'].dt.year

In [43]:
# Check coverage

df_kaggle['crime_year'].value_counts().sort_index()
df_city['crime_year'].value_counts().sort_index()

crime_year
2020    199847
2021    209876
2022    235259
2023    232345
2024    127567
2025        97
Name: count, dtype: int64

In [44]:
# Combine the Kaggle and city dataframes into one dataframe and reset the index

df_all = pd.concat([df_kaggle, df_city], ignore_index=True)

In [45]:
# Sort the dataframe by report ID and remove duplicate reports, keeping the most recent entry

df_all = df_all.sort_values('report_id')
df_all = df_all.drop_duplicates(subset='report_id', keep='last')

In [51]:
# Filter the dataframe to include only crimes from the years 2020 to 2023

df_final_1 = df_all[df_all['crime_year'].isin([2020, 2021, 2022, 2023])].copy()

In [53]:
# Extract the crime month number and month name from the crime_date column

df_final.loc[:, 'crime_month'] = df_final['crime_date'].dt.month
df_final.loc[:, 'crime_month_name'] = df_final['crime_date'].dt.month_name()

In [54]:
# Inspect first 5 rows of dataframe

df_final.head(5)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude,crime_year,crime_month,crime_month_name
1094408,817,2020-09-20,2020-09-19,1700,17,Devonshire,1777,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,9100 RUBIO AV,NaN,34.2367,-118.4955,2020,9,September
264680,2113,2021-06-21,2021-04-05,1835,13,Newton,1385,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,800 E GAGE AV,NaN,33.9820,-118.2622,2021,4,April
570894,2203,2022-12-31,2022-12-19,1930,3,Southwest,356,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",NaN,0,NaN,NaN,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,522.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,2022,12,December
1721651,2315,2023-07-23,2023-07-22,1800,15,N Hollywood,1566,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,420.0,NaN,NaN,NaN,4400 ENSIGN AV,NaN,34.1504,-118.3712,2023,7,July
866595,2401,2024-01-10,2023-12-21,1930,14,Pacific,1416,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,3400 CABRILLO BL,NaN,34.0099,-118.4453,2023,12,December

In [55]:
# Count crimes per year and check how many unique months are present for each year

df_final['crime_year'].value_counts().sort_index()
df_final.groupby('crime_year')['crime_month'].nunique()

crime_year
2020    12
2021    12
2022    12
2023    12
Name: crime_month, dtype: int64

In [56]:
# Export the dataframe

df_final.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_V1.csv'))

In [62]:
# Ensure crime_date is datetime

df_final.loc[:, 'crime_date'] = pd.to_datetime(df_final['crime_date'], errors='coerce')

In [63]:
# Ensure crime_time is numeric (HHMM format)

df_final.loc[:, 'crime_time'] = pd.to_numeric(df_final['crime_time'], errors='coerce')

In [64]:
# Checking datatypes (quick sanity check)

df_final[['crime_date', 'crime_time']].dtypes

crime_date    datetime64[ns]
crime_time           float64
dtype: object

In [65]:
# Create a copy of the dataframe to safely avoid chained assignment issues

df_final = df_final.copy()

In [66]:
# Extract the year from crime_date and store it in the crime_year column

df_final['crime_year'] = df_final['crime_date'].dt.year

In [67]:
# Extract the month from crime_date and store it in the crime_month column

df_final['crime_month'] = df_final['crime_date'].dt.month

In [68]:
# Extract the month name from crime_date and store it in the crime_month_name column

df_final['crime_month_name'] = df_final['crime_date'].dt.month_name()

In [69]:
# Extract the day of the week from crime_date and store it in the crime_day_of_week column

df_final['crime_day_of_week'] = df_final['crime_date'].dt.day_name()

In [70]:
# Extract the hour from the crime_time column and store it as an integer hour value

df_final['crime_hour'] = (df_final['crime_time'] // 100).astype('Int64')

In [71]:
# Check first 3 rows of dataframe

df_final.head(3)

,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,crime_description,modus_code,victim_age,victim_sex,victim_descent,crime_premises_code,crime_premises_description,weapon_code,weapon_description,case_status_code,case_status_description,primary_crime_committed,secondary_crime_committed,third_crime_committed,fourth_crime_committed,crime_location,crime_location_corner,latitude,longitude,crime_year,crime_month,crime_month_name,crime_day_of_week,crime_hour
1094408,817,2020-09-20,NaT,NaN,17,Devonshire,1777,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,9100 RUBIO AV,NaN,34.2367,-118.4955,NaN,NaN,NaN,NaN,<NA>
264680,2113,2021-06-21,2021-04-28,30.0,13,Newton,1385,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,800 E GAGE AV,NaN,33.9820,-118.2622,2021.0,4.0,April,Wednesday,0
570894,2203,2022-12-31,2022-05-20,1500.0,3,Southwest,356,1,522,"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...",NaN,0,NaN,NaN,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,522.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002,2022.0,5.0,May,Friday,15

In [72]:
# Double checking if there is any missing values

df_final.isnull().sum()

report_id                          0
report_date                        0
crime_date                    454050
crime_time                    454050
area_id                            0
area_name                          0
district_code                      0
part_1_2                           0
crime_code                         0
crime_description                  0
modus_code                    121605
victim_age                         0
victim_sex                    115426
victim_descent                115434
crime_premises_code               10
crime_premises_description       533
weapon_code                   573911
weapon_description            573911
case_status_code                   0
case_status_description            0
primary_crime_committed           11
secondary_crime_committed     813267
third_crime_committed         875174
fourth_crime_committed        877287
crime_location                     0
crime_location_corner         738859
latitude                           0
longitude                          0
crime_year                    454050
crime_month                   454050
crime_month_name              454050
crime_day_of_week             454050
crime_hour                    454050
dtype: int64

In [73]:
# Check number of rows and columns of dataframe

df_final.shape

(877349, 33)

In [74]:
# Define a function that categorizes an hour value into a time-of-day label

def time_of_day(hour):
    if pd.isna(hour):
        return 'Unknown'
    elif 0 <= hour <= 5:
        return 'Night'
    elif 6 <= hour <= 11:
        return 'Morning'
    elif 12 <= hour <= 17:
        return 'Afternoon'
    else:
        return 'Evening'

In [75]:
# Apply the time_of_day function to assign a time category to each crime hour

df_final['time_of_day'] = df_final['crime_hour'].apply(time_of_day)

In [76]:
# Create a flag indicating whether a weapon was involved based on the weapon description column

df_final['is_weapon_related'] = np.where(df_final['weapon_description'].notna(), 'Yes', 'No')

In [77]:
# Define a function that groups crime descriptions into broader crime categories

def crime_category_group(description):
    if pd.isna(description):
        return 'Unknown'
        
    desc = description.lower()
    
    if 'theft' in desc or 'burglary' in desc or 'stolen' in desc:
        return 'Theft / Burglary'
    elif 'assault' in desc or 'robbery' in desc or 'homicide' in desc:
        return 'Violent Crime'
    elif 'vehicle' in desc:
        return 'Vehicle Crime'
    elif 'fraud' in desc or 'forgery' in desc:
        return 'Fraud'
    else:
        return 'Other'

In [78]:
# Apply the crime_category_group function to classify each crime into a broad category

df_final['crime_category_group'] = df_final['crime_description'].apply(crime_category_group)

In [79]:
# Create a boolean column indicating whether both latitude and longitude values are present

df_final['has_coordinates'] = df_final['latitude'].notna() & df_final['longitude'].notna()

In [80]:
# Display selected engineered feature columns to inspect the final dataframe structure

df_final[[
    'crime_year',
    'crime_month_name',
    'crime_day_of_week',
    'crime_hour',
    'time_of_day',
    'crime_category_group',
    'is_weapon_related',
    'has_coordinates'
]].head()

,crime_year,crime_month_name,crime_day_of_week,crime_hour,time_of_day,crime_category_group,is_weapon_related,has_coordinates
1094408,NaN,NaN,NaN,<NA>,Unknown,Theft / Burglary,No,True
264680,2021.0,April,Wednesday,0,Night,Theft / Burglary,No,True
570894,2022.0,May,Friday,15,Afternoon,Theft / Burglary,No,True
1721651,NaN,NaN,NaN,<NA>,Unknown,Theft / Burglary,No,True
866595,2023.0,September,Wednesday,11,Morning,Theft / Burglary,No,True

In [81]:
# Count how many records fall into each variable

df_final['time_of_day'].value_counts()

time_of_day
Unknown      454050
Afternoon    137785
Evening      131449
Morning       88569
Night         65496
Name: count, dtype: int64

In [82]:
# Count how many records fall into each variable

df_final['crime_category_group'].value_counts()

crime_category_group
Theft / Burglary    459780
Violent Crime       219515
Other               196692
Vehicle Crime         1167
Fraud                  195
Name: count, dtype: int64

In [83]:
# # Count how many records fall into each variable

df_final['is_weapon_related'].value_counts()

is_weapon_related
No     573911
Yes    303438
Name: count, dtype: int64

In [84]:
# Export the dataframe

df_final.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_V2.csv'))