In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Assigning Path

path = r'/Users/elia/Desktop/DATA ANALYST/MY DATA PROJECTS/Los Angeles Crimes Analysis'

In [3]:
# Import Latest LA Crimes DataSet Version

df_final = pd.read_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_V2.csv'))

In [4]:
# Filter the dataframe to include only records from 2020 to 2023 and create a safe copy

df_final = df_final[df_final['crime_year'].isin([2020, 2021, 2022, 2023])].copy()

In [5]:
# Count the number of crimes per year and display them in ascending year order

df_final['crime_year'].value_counts().sort_index()

crime_year
2020.0     91235
2021.0     95988
2022.0    117816
2023.0    111100
Name: count, dtype: int64

In [6]:
# Check Dataframe rows and columns total numbers

df_final.shape

(416139, 38)

In [7]:
# Check first 5 rows of dataframe

df_final.head(5)

,Unnamed: 0,report_id,report_date,crime_date,crime_time,area_id,area_name,district_code,part_1_2,crime_code,...,longitude,crime_year,crime_month,crime_month_name,crime_day_of_week,crime_hour,time_of_day,is_weapon_related,crime_category_group,has_coordinates
1,264680,2113,2021-06-21,2021-04-28,30.0,13,Newton,1385,1,510,...,-118.2622,2021.0,4.0,April,Wednesday,0.0,Night,No,Theft / Burglary,True
2,570894,2203,2022-12-31,2022-05-20,1500.0,3,Southwest,356,1,522,...,-118.3002,2022.0,5.0,May,Friday,15.0,Afternoon,No,Theft / Burglary,True
4,866595,2401,2024-01-10,2023-09-20,1112.0,14,Pacific,1416,1,510,...,-118.4453,2023.0,9.0,September,Wednesday,11.0,Morning,No,Theft / Burglary,True
5,39326,10304468,2020-01-08,2020-09-13,2040.0,3,Southwest,377,2,624,...,-118.2978,2020.0,9.0,September,Sunday,20.0,Evening,Yes,Violent Crime,True
6,28520,190101086,2020-01-02,2020-01-15,1900.0,1,Central,163,2,624,...,-118.2545,2020.0,1.0,January,Wednesday,19.0,Evening,Yes,Violent Crime,True

In [8]:
# Count the number of crimes per year and display them in chronological order

df_final['crime_year'].value_counts().sort_index()

crime_year
2020.0     91235
2021.0     95988
2022.0    117816
2023.0    111100
Name: count, dtype: int64

In [9]:
# Count how many crimes occurred in each month name

df_final['crime_month_name'].value_counts()

crime_month_name
October      36177
July         35994
August       35555
December     35176
January      35110
May          34989
June         34793
September    34157
November     33964
March        33840
April        33696
February     32688
Name: count, dtype: int64

In [10]:
# Calculate monthly crime counts by year and month and sort them in chronological order

monthly_crimes = (
    df_final
    .groupby(['crime_year', 'crime_month', 'crime_month_name'])
    .size()
    .reset_index(name='crime_count')
    .sort_values(['crime_year', 'crime_month']))

In [11]:
# Check the first 5 rows

monthly_crimes.head()

   crime_year  crime_month crime_month_name  crime_count
0      2020.0          1.0          January         8386
1      2020.0          2.0         February         7959
2      2020.0          3.0            March         7301
3      2020.0          4.0            April         7284
4      2020.0          5.0              May         7933

In [12]:
# Count total crimes for each day of the week and store the results in a dataframe

dow_crimes = (
    df_final
    .groupby('crime_day_of_week')
    .size()
    .reset_index(name='crime_count'))

In [13]:
# Define the desired order of days of the week for consistent sorting and plotting

dow_order = [
    'Monday','Tuesday','Wednesday',
    'Thursday','Friday','Saturday','Sunday']

In [14]:
# Set the day of week column as an ordered categorical variable for proper sorting

dow_crimes['crime_day_of_week'] = pd.Categorical(
    dow_crimes['crime_day_of_week'],
    categories=dow_order,
    ordered=True)

In [15]:
# Sort the crimes dataframe by the ordered day of the week

dow_crimes = dow_crimes.sort_values('crime_day_of_week')

In [16]:
dow_crimes.head(8)

  crime_day_of_week  crime_count
1            Monday        58753
5           Tuesday        57106
6         Wednesday        58940
4          Thursday        58612
0            Friday        63824
2          Saturday        60998
3            Sunday        57906

In [17]:
# Count total crimes for each hour of the day and store the results in a dataframe

hourly_crimes = (
    df_final
    .groupby('crime_hour')
    .size()
    .reset_index(name='crime_count'))

In [18]:
# Check

hourly_crimes.describe()

       crime_hour   crime_count
count   24.000000     24.000000
mean    11.500000  17339.125000
std      7.071068   5898.760705
min      0.000000   7316.000000
25%      5.750000  12082.750000
50%     11.500000  18061.000000
75%     17.250000  21770.250000
max     23.000000  28611.000000

In [19]:
# Check first 5 rows

hourly_crimes.head(5)

   crime_hour  crime_count
0         0.0        17195
1         1.0        12537
2         2.0        10594
3         3.0         9066
4         4.0         7833

In [20]:
# Count crimes by time of day and sort them from most to least frequent

tod_crimes = (
    df_final
    .groupby('time_of_day')
    .size()
    .reset_index(name='crime_count')
    .sort_values('crime_count', ascending=False))

In [21]:
# Check first 5 rows

tod_crimes.head(5)

  time_of_day  crime_count
0   Afternoon       135433
1     Evening       129133
2     Morning        87032
3       Night        64541

In [22]:
# Drop the CSV index column if still present

df_final = df_final.drop(columns=['Unnamed: 0'], errors='ignore')

In [23]:
# Export dataframes

df_final.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'lacrimes_V3.csv'))

In [24]:
# Export dataframes

monthly_crimes.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'monthly_crimes.csv'))
dow_crimes.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'dow_crimes.csv'))
hourly_crimes.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'hourly_crimes.csv'))
tod_crimes.to_csv(os.path.join(path, '02 - Data', 'Prepared Data', 'tod_crimes.csv'))